<!DOCTYPE html>
<html>

<!-- Mirrored from radixtouch.in/templates/admin/smart/source/light/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 19 May 2018 16:40:57 GMT -->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="online shiping app" />
    <meta name="author" content="joseph oboci" />
    <title>online shiping software</title>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
    <!-- icons -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!-- bootstrap -->
    <link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- style -->
    <link rel="stylesheet" href="/css/pages/extra_pages.css">
    <!-- favicon -->
</head>

<body>
    <div class="container">
        <h2>Admin</h2>
        <h4>
        </h4>
        <h4><a align="right" style="color:white" href="/logout">Logout</a></h4>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#profile">Home</a></li>
            <li id="use"><a data-toggle="tab" href="#users">View users</a></li>
            <li><a data-toggle="tab" href="#staff">View staff</a></li>
            <li><a data-toggle="tab" href="#createstaff">Create Staff</a></li>
            <li><a data-toggle="tab" href="#request">View Shipment requests</a></li>
            <li><a data-toggle="tab" href="#track">Track Shipments</a></li>
            <li><a data-toggle="tab" href="#revenue">View Account</a></li>

        </ul>

        <div class="tab-content">

            <div id="users" class="tab-pane fade">

            </div>



        </div>
    </div>




    <!-- start js include path -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/js/pages/extra-pages/pages.js"></script>
    <!-- end js include path -->
</body>

<!-- Mirrored from radixtouch.in/templates/admin/smart/source/light/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 19 May 2018 16:40:57 GMT -->

</html>